body {
	font-family: "futura-pt", "Open Sans", "Arial Bold",Gadget,sans-serif;
}

@media(min-width: $screen-lg){
	.container {
		width: 970px;
	}
}

.pink {
	color: $pink-light;
}

.black {
	color: black;
}

.bold {
	font-weight: 700;
}

.light {
	font-weight: 300;
}

.text-top {
	vertical-align: text-top;
	font-size: 10px;
	margin-left: -3px;
}

.img-max {
	width: 100%;
}

@each $i in 3, 7 {
	.spacer-#{$i*10} {
		margin-top: 10px * $i;

		@media(max-width: $screen-md){
			margin-top: 5px *$i;
		}
	}
}
