body {
	font-family: "futura-pt", "Open Sans", "Arial Bold",Gadget,sans-serif;
}

.pink {
	color: $pink-light;
}

.black {
	color: black;
}

.bold {
	font-weight: 700;
}

.light {
	font-weight: 400;
}

.super {
	vertical-align: super;
}

.img-max {
	width: 100%;
}
