.call {
	h1 {
		font-size: 34px;
		color: $gray-dark;
		margin-top: 0;

		@media(max-width: $screen-lg){
			font-size: 31px;
		}

		@media(max-width: $screen-md){
			font-size: 28px;
		}

		@media(max-width: $screen-xs){
			font-size: 19px;
		}
	}
}
.text-default {
	color: $gray-texts;
	font-size: 14px;
	line-height: 24px;
}
