// COMMON COLORS
$pink-light: #D40064;
$pink-medium: #AF0052;
$pink-dark: #780E3F;

$gray-light: #EDEDED;
$gray-medium: #BCBCBC;
$gray-dark: #696969;
$gray-menu: #474747;
$gray-search: #EBEBEB;
$gray-texts: #959595;
